body {
    background-color: #add8c1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('static/img/reskill logo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #72a3e1;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    background-color: #75b798;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: #997404;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f889a9;
    color: white;
}
    .carousel-item img {
        height: 50px;
        object-fit: cover;
    }
    .carousel-caption {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
    }
