{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2>Explore Courses</h2>
    <div class="row">
        {% if courses %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <p class="card-text">{{ description }}</p>
                    <a href="{% url 'course_detail' course.pk %}" class="btn btn-primary btn-sm">View Details</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

